body {
background-color: #FFF;
color: #000305;
font-size: 87.5%;
font-family: Arial, sans-serif;
line-height: 1.5;
text-align: left;
}

a {
text-decoration: none;
}

a:link, a:visited {
color: #CF5C3F;
}

a:hover, a:active{
background-color: #CF5C3F;
color: white;
}

.body {
   margin: 0 auto;
   width: 90%;
   clear: both;
}

.mainheader img {
width: 100%;
margin: 2% 0%;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}

.mainheader nav {
background-color: #595959;
height: 50px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.mainheader nav ul {
list-style: none;
padding: 1%;
margin: 0 auto;
}


.mainheader nav ul li {
float: left;
display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {

  display: inline-block;
  padding: 10px 10px; 
  height: 20px;
}

.mainheader nav a:hover {
background-color: #CF5C3F;
color: white;
text-shadow: none;
}


.mainheader nav ul li a {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.maincontent {
line-height: 25px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.content {
width: 70%;
float: left;
}

.topcontent {
background-color: #F0F0E8;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 1% 5%;
margin-top: 2%;
}

.bottom-content {
background-color: #F0F0E8;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 1% 5%;
margin-top: 2%;
}


#h3 {
color: pink;
font-family: Rockwell extra bold;
text-align: center;
width: 50%;
}

.post-info {
font-style: italic;
color: #666;
font-size: 70%;
}

.top-side {
width: 21%;
float: left;
background-color: #F0F0E8;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 1.5% 0 1.5% 3%;
padding: 1% 3%;
}

.middle-side {
width: 21%;
float: left;
background-color: #F0F0E8;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-left: 3%;
margin-bottom: 1.5%;
padding: 1% 3%;
}

.bottom-side {
width: 21%;
float: left;
background-color: #F0F0E8;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-left: 3%;
margin-bottom: 2%;
padding: 1% 3%;
}

.mainfooter {
width: 100%;
float: left;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin: 1,5% 0;
background-color: #666;
color: #FFF;
}

.mainfooter p {

width: 92%;
margin: 2% auto;
text-align: center;
}

.clear:before  {content: "", display: table;} 
.clear:after {content: "", display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}
.clear {overflow: auto;}

